@import url("tldraw/tldraw.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .view-title {
        @apply mb-2 w-full border-b pb-2 text-start text-lg;
    }
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #212429;
    color: #ffffff;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

body {
    font-family: "Space Grotesk", sans-serif;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;

    --sb-track-color: #3d404a;
    --sb-thumb-color: #e1e1ffb3;
    --sb-size: 6px;
}

::-webkit-scrollbar {
    width: var(--sb-size);
    height: var(--sb-size);
}

::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 5px;
    height: var(--sb-size);
    width: var(--sb-size);
}

::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 5px;
    height: var(--sb-size);
}

@supports not selector(::-webkit-scrollbar) {
    body {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

/* Editor */

.cm-editor {
    max-height: 93vh;
    background-color: #212429 !important;
}

.cm-editor .cm-scroller {
    font-family: "Space Mono", monospace;
    /* min-height: 100vh; */
    background-color: #212429 !important;
}

.cm-editor .cm-gutters {
    background-color: #212429 !important;
    border-right: 1px solid #3d404a;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .cm-editor {
        max-height: calc(93vh - 60px);
    }

    .cm-editor .cm-scroller {
        min-height: calc(93vh - 60px);
    }
}

/* Github Corner */

.github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
    0%,
    100% {
        transform: rotate(0);
    }
    20%,
    60% {
        transform: rotate(-25deg);
    }
    40%,
    80% {
        transform: rotate(10deg);
    }
}
